main {
	width: 100ch;
	margin: auto;
	background: white;
	padding: 10ch
}

body 
{
    background: #D60606
;
}


summary {
	font-weight: bold;
	font-size: 1.6rem;
background-color: #FADD8F

}

details {
padding: 1rem;
}

h1
{	color: black;
}