main {
	width: 80ch;
	margin: auto;
background: white;

}

body 
{
    background: #8A1900;
}


summary {
	font-weight: bold;
	font-size: 1.6rem;
background-color: #FFB92E

}

details {
padding: 1rem;
}

h1
{	color: black;
}